header {
  padding: 10px 15px;
}

.header-menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu img {
  width: 150px;
}

.header-menu nav a {
  font-size: 18px;
  color: #000;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 5px;
}


@media (min-width: 1024px){

  header{   
  top: 0; 
  background-color: #fff;
  position:sticky; 
}
}


@media (max-width: 1023px)
{
  .header-menu {
    width: 80%;
  }
}

@media (max-width: 550px)
{
 .header-menu {
  flex-direction: column;
 }
 nav {
  width: 100%;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
  border-top: 1px solid #aaadaf;
 }
}